* {
  text-align: center;
  box-sizing: border-box;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.clearfix > p:first-of-type {
  float: left;
  width: 100%;
}
.clearfix > p:last-of-type {
  right: 0;
  z-index: 1;
  text-align: center;
}

#result {
  margin: 10px auto;
  padding: 15px;
  border-top: 2px dashed #000;
  border-bottom: 2px dashed #000;
}

#map-div {
  min-height: 70vh;
  height: auto;
  max-height: 70vh;
}

#map {
  min-height: 70vh;
  height: auto;
  min-width: 1100px;
}

#map-first {
  max-width: 60%;
  min-height: 70vh;
  float: left;
  height: auto;
}
#map-second {
  max-width: 40%;
  min-height: 70vh;
  max-height: 70vh;
  overflow: auto;
  float: right;
  height: auto;
  text-align: left;
}

.store-name {
  text-decoration: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

input[type="text"] {
  border: none;
  border-bottom: 1.5px solid #000;
  margin: 0 20px;
  padding: 10px;
  min-width: 50%;
  text-align: left;
  font-size: 1rem;
}

.search {
  border: none;
  border-radius: 5px;
  width: 60px;
  height: 40px;
  background-color: rgba(12, 125, 245, 0.8);
  box-shadow: 0 5px rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 1rem;
}
.search:active {
  transform: translateY(5px);
  box-shadow: none;
}
